:root {
    --no-of-slides: 8;
    --slides-in-view: 8;
    --slide-width: 1200px;
    --slide-height: 600px;
   --iteration-time: 1s; 
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* 8));
    }
  }

  .carouselt{
    top: 75%;
  }
  
  .carousel__wrapper {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    
     width: calc(var(--slides-in-view) * var(--slide-width));
    overflow: hidden;
    margin: 0 auto;
    z-index: -1;
  }
  
  .carousel {
     padding: 0px 0;
     overflow: hidden;
     width: calc(0 * var(--no-of-slides));
  }
  


  .carousel__slide {
    animation: scroll var(--iteration-time) linear infinite;
    display: flex;
    flex-direction: column;
    
    flex: 0 0 auto;
    width: var(--slide-width);
    height: var(--slide-height);
    box-sizing: border-box;
    /*border: 1px dotted darkblue;*/
  }
  
  .carousel__image {
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 70%;
    /*width: 100px;*/
    margin: 0px 0px;
  }
  
  